.product-card{
    height: auto;
    width: auto;
    border: 1px solid grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 margin: 10px;
    padding: 10px;
}

.product-img {
    width: 80%;
   object-fit: contain;
  
}